/*---- default settings ----*/

* {
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
}

/*--- features-post section ----*/

.features-image {
    background: url("../img/features-post1-img.jpg") no-repeat center;
    background-size: cover;
    height: 60vh;
}

#features-image2 {
    background: url("../img/features-post2-img.jpg") no-repeat center;
    background-size: cover;
}

#features-image3 {
    background: url("../img/features-post3-img.jpg") no-repeat center;
    background-size: cover;
}

/*--- recommended section ----*/

.recommended-link:hover {
    color: #000 !important;
}

/*--- minimalism section ----*/

.minimalism-image {
    background: url("../img/minimalism-img1.jpg") no-repeat center;
    background-size: cover;
    height: 60vh;
}

#minimalism-image2 {
    background: url("../img/minimalism-img2.jpg") no-repeat center;
    background-size: cover;
}

/*--- minimalism section ----*/

.all-blogs-image {
    background: url("../img/all-blog-img1.jpg") no-repeat center;
    background-size: cover;
    height: 60vh;
}